/* Style CSS */

body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(img/webb.png);
  color: #333;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 80%;
  margin: auto;
  background-color: white;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 80%px;
  background-color: black;
}

.header .judul{
  font-size: 30px;
  font-weight: bold;
  color: #eaeaea;
}

/* Header list*/
.list-header a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.7s;
  color: white;
  
}

.list-header a:hover {
  background-color: white;
  color: black;
}

/* styling main article */
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  /* width: 100%; */
  /* width: 800px;
  margin: 0 auto; */
}


.film-desc{
  text-align: justify;
  font-size: 1.3em;
  line-height: 1.5em;
}

.movie-wrapper h2{
  color: white;
  text-align: center;
  border-bottom: 5px solid black;
}
.moviename{
  margin: 0;
  padding: 3px 75px;
  background-color: #1b1b1b;
  box-sizing: border-box;
}


.movie-wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: large;
  box-sizing: border-box;
  margin-bottom: 50px;
}
span{
  font-weight: bold;
}

.article-name{
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
  text-align: center;
}


/* @media screen and (max-width: 1074px){
  .moviename{
      box-sizing: border-box;
      padding: 3px 20px;
  }

} */
@media screen and (max-width: 980px){
  .movie-wrapper{
      width: 80%;
      padding: 10px;

  }

}

/* end of styling main article */
/* FOOTER */
footer {
  background-color: #151515;
  /* position: absolute; */
  width: 100%;
  /* bottom: 0;
  left: 0; */
  box-sizing: border-box;
  color: white;
}

footer a {
  color: rgb(176, 176, 176);
}

footer a:hover {
  color: white;
}

footer a {
  font-size: 15px;
}

footer h3 {
  font-size: 20px;
}

footer div.row {
  display: flex;
  justify-content: space-around;
  padding: 10px 35px;
}

footer div.row div.footer-col ul {
  list-style: none;
  margin-top: -8px;
  padding: 0;
}

footer div.row div.footer-col ul li a {
  text-decoration: none;
}

footer div.row div.footer-col p {
  font-size: 13px;
  margin-top: -10px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

footer div.row form input {
  padding: 15px;
  border-radius: 20px;
  border: 0;
}

footer div.row form button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  margin-left: 8px;
  font-weight: bold;
  background-color: #151515;
  color: white;
  border: 2px solid white;
}

footer div.row form button:hover {
  background-color: white;
  color: #151515;
}

footer .footer-col div.social-media {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

footer .footer-col div.social-media a {
  text-decoration: none;
  font-size: 25px;
}

div.copyright {
  margin-top: 5px;
  font-size: 15px;
  padding: 20px;
  margin-left: 100px;
}
/* END FOOTER */