/* Style CSS */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color:white;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}