body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* memberikan style img */
img{
  width: 100px;
}

main {
  padding: 20px;
  /* mengubah min height yang sebelumnya 65vh menjadi 100vh */
  min-height: 100vh;

}

/* section {
  margin-bottom: 20px;
} */

footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}
